.btn {
	@apply cursor-pointer px-8 sm:px-14 border border-accent py-3 bg-accent text-white text-center font-medium transition-all duration-300 hover:opacity-90;
	&.btn-o {
		@apply bg-transparent text-accent hover:opacity-100 hover:bg-accent hover:text-white;
	}
	&.gray {
		@apply bg-gray-400 border-gray-400;
		&.btn-o {
			@apply bg-transparent text-gray-400 hover:opacity-100 hover:bg-gray-400 hover:text-white;
		}
	}
	&.black {
		@apply bg-black border-black;
		&.btn-o {
			@apply bg-transparent text-black hover:opacity-100 hover:bg-black hover:text-white;
		}
	}
	&.white {
		@apply bg-white text-black border-white;
		&.btn-o {
			@apply bg-transparent text-white hover:opacity-100 hover:bg-white hover:text-black;
		}
	}
}

.btn-up {
	@apply fixed z-10 bg-red right-5 bottom-[80px] sm:bottom-5 rounded cursor-pointer flex items-center justify-center w-12 h-12 transition-all duration-500 ease-in-out shadow-lg;
}

.btn-up::before {
	content: "";
	width: 30px;
	height: 30px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
	@apply -right-full;
}

@media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
		@apply bg-red;
	}
}